# Question 1

In [2]:
#Answer:-
from PS2Module1 import*
b()
b()
b()
a
#The value of a is printed when last expression is evaluated. When we called first b() it starts excecuting b() function in our module.
#It starts with intially a=0 then in last line of function b, function c is called which which returns a+2.
# therefore after  calling b() three times a+2 is exicuted 3 times and a became 6

6

# Question 2

In [9]:
#Answer:-
# here we have a given function File_length and I modified it to print desired result
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("file",file_name,"not found")
file_length('PS2Module1.py')
file_length('idterm.py')

70
file idterm.py not found

# Question 3

In [25]:
class  Marsupial:
    def __init__(self):
        'instantiates an empty list'
        self.q = [] 
    def put_in_pouch (self, item):
        return self.q.append(item)
    def pouch_contents (self):
        return self.q
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [27]:
class Kangaroo(Marsupial):
    def __init__(self, xcoord=0, ycoord=0,):
        'initialize coordinates to (xcoord, ycoord)'
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [28]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [29]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4

In [55]:
#Answer:-

def collatz(num):
    if(num>0):
        print(num)
        while(num!=1):
            if num % 2==0:
                print(num // 2)                             #Floor division, it rounds the result down to the nearest integer
                num= num // 2
              
            elif num % 2==1:
                x = 3 * num + 1
                print(x)
                num=x
                
    else:
        print("Enter a positive integer number")
collatz(1)

1

In [56]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [14]:
#Answer:-
def binary(num):
    
    if num >= 1:
        if num//2 !=0:              # it was to stop recursion call at 0
            binary(num // 2)
        print(num % 2 , end = '')    #end= '' is used to print numbers in a row
    elif num==0:
        print(1)
    else:
        print("enter a positive integer")
binary(0)

1

In [90]:
binary(1)

1

In [91]:
binary(3)

11

In [92]:
binary(9)

1001

# Question 6

In [74]:
#Answer:-
from html.parser import HTMLParser                      #Given standard library module
class  HeadingParser(HTMLParser):
    check=0
    s=0
    def handle_starttag(self,tag,attrs):
        if tag in ['h1','h2','h3']:
            self.check = 1
    def handle_data(self,data):
        if (self.check == 1):
            print(data.rjust(len(data) + self.s), end = '\n')
        def handle_endtag(self,tag):
            if tag in ['h1','h2','h3']:
                self.check = 0
                self.s +=1
            
           
    
             
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

# Qustion 7

In [54]:
#Answer:-
from html.parser import HTMLParser

# Question 8

In [12]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=2b0a4ea22f1f419e132ad1007829189376845fa808040b248752260c34a2b941
  Stored in directory: c:\users\saurav sharma\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [75]:
import sqlite3
con = sqlite3.connect('cInfo.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS cityInfo (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO cityInfo VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityInfo VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO cityInfo VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

cur.execute('SELECT * FROM cityInfo')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [76]:
cur.execute('SELECT DISTINCT(City) FROM cityInfo')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [77]:
cur.execute('SELECT * FROM cityInfo where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [78]:
cur.execute('SELECT * FROM cityInfo where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [79]:
cur.execute('SELECT * from cityInfo where Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [80]:
cur.execute('SELECT City,Country,Season, AVG(Rainfall) FROM cityInfo GROUP BY City, Country, Season having AVG(Rainfall)>200 and AVG(Rainfall)<400 ')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [81]:
cur.execute('SELECT City, Country, AVG(Temperature) FROM cityInfo where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [82]:
cur.execute('SELECT SUM(Rainfall) FROM cityInfo WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [83]:
cur.execute('SELECT Season, SUM(Rainfall) FROM cityInfo GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

In [62]:
#Answer:-
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']


a = [x.upper() for x in words] 
print(a)
b = [x.lower() for x in words]
print(b)
c =[len(word) for word in words]
print(c)
d = [word for word in words if len(word) >=4]
print(d)
  

x=[]
for word in words:
    final = []
    final.append(word.upper())
    final.append(word.lower())
    final.append(len(word))
    x.append(final)
    
print(x)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
['quick', 'brown', 'jumps', 'over', 'lazy']
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]